@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: rgb(228, 201, 45);
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color:rgb(228, 201, 45);
}
#navbarSupportedContent a{
    color:rgb(228, 201, 45);
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid rgb(228, 201, 45);
}
#navbarSupportedContent button{
    background:rgb(228, 201, 45);
    width: 5rem;
    border-radius: 15px;    
}
section{
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* HOME */

#home{
    background:linear-gradient(rgba(240, 224, 135,.3),rgba(240, 224, 135,.4)),url(logo-bang.jfif);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    color: black;
}
#home h1{
    font-size: 100px;
    color:white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    text-shadow: 0px 1px 0px #CCC;                 
}
#home p{
        color:#fff;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
    background-color: rgb(228, 201, 45)!important; 
    color:white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}
#about{
    background: #cec777;
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color:#fff;
}
#about p{
    color:#fff;
}